<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="console-example-internal.log"
      internalLogLevel="off" >

    <!-- the targets to write to -->
    <targets>
        <!-- ~1~ write logs to file @1@ -->
        <!-- ~1~这里修改了fileName属性的值，日志文件都放在了logs目录下面，同时文件名称以log-为前缀，假设日期作为日志文件的名称@1@ -->
        <!-- <target xsi:type="File" name="logfile" fileName="logs/log-${shortdate}.log" -->
        <!--         layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" /> -->
        <!-- ~1~这里添加了新的一项配置，名称是sysFileLog,同时也让日志放在了logs目录下面，只不过这里以sysFile为前缀@1@ -->
        <!-- <target xsi:type="File" name="sysFileLog" fileName="logs/sysFile-${shortdate}.log" archiveAboveSize="1000" -->
        <!--         maxArchiveFiles="3" -->
        <!--         layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" /> -->
        <target xsi:type="Console" name="logconsole"
                layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
    </targets>

    <!-- rules to map from logger name to target -->
    <!--这里修改了rules规则-->
    <!--SystemFile:表示命名空间-->
    <rules>
        <!-- <logger name="SystemFile.*" minlevel="Trace" writeTo="sysFileLog" final="true"/> -->
        <!-- <logger name="*" minlevel="Trace" writeTo="logfile"/> -->
        <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="logconsole" />
    </rules>
</nlog>